<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">Created by <a href="{{ site.author.link | escape }}" target="_blank">{{ site.author.name | escape }}</a></li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
      {%- if site.host_info %}
        <p>Hosted using <a href="{{ site.host_info.link }}" target="_blank">{{ site.host_info.name }}</a></p>
      {%- endif %}
      </div>
      <div class="footer-col">
      {%- if site.host_info.suggestion_link %}
        <p>Have a <a href="{{ site.host_info.suggestion_link }}" target="_blank">suggestion</a>?</p>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
